<aside
  class="max-lg:hidden fixed top-0 left-0 h-screen w-64 border-r border-[#262626] bg-black text-gray-100"
>
  <div class="p-6">
    <h1 class="text-2xl font-semibold tracking-tight text-white">AmStramGram</h1>
  </div>
  <nav>
    <ul class="flex flex-col gap-1 px-2">
      @for (item of links(); track $index) {
        <li>
          <a
            [routerLink]="item.path"
            routerLinkActive="bg-neutral-800 text-white"
            class="flex items-center gap-3 rounded-xl px-4 py-3 text-gray-300 hover:bg-[#262626] hover:text-white transition"
          >
            {{ item.name }}
          </a>
        </li>
      }
      <li>
        <p
          class="flex items-center gap-3 rounded-xl px-4 py-3 text-gray-300 hover:bg-[#262626] hover:text-white transition hover:cursor-pointer"
          (click)="authApi.logout()"
        >
          Se déconnecter
        </p>
      </li>
    </ul>
  </nav>
  <div class="absolute bottom-0 left-0 right-0 p-4 border-t border-[#262626]">
    <div
      class="w-full rounded-lg text-center cursor-pointer bg-white text-black py-2.5 text-sm hover:bg-white/80 transition"
      [routerLink]="'profile/' + authApi.user()?.id"
    >
      Profil
    </div>
  </div>
</aside>
