<section class="flex flex-col max-w-3xl mx-auto gap-10">
  @if (pictures.isLoading()) {
    <p>Chargement des Posts... 🪫</p>
  }
  @if (pictures.hasValue()) {
    @let user = pictures.value().content[0].author;

    <div class="flex gap-10 items-center-safe mt-4">
      <div class="flex items-center justify-center">
        <img src="/images/pdp.png" alt="profil pic" class="h-36 w-36 rounded-full" />
      </div>
      <div class="flex flex-col gap-4">
        <h2>
          {{ user.displayName }}
        </h2>
        <div class="flex gap-4">
          <div class="flex gap-1">
            <p>{{ pictures.value().content.length }}</p>
            <p>publications</p>
          </div>
          <div class="flex gap-1">
            <p>
              {{ totalLikes() }}
            </p>
            <p>likes</p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-[1px]">
      @for (pic of pictures.value().content; track $index) {
        <a [routerLink]="`/post/` + pic.id" class="hover:scale-105 transition-all">
          <img
            [src]="pic.image.startsWith('http') ? pic.image : apiUrl + '/uploads/' + pic.image"
            alt=""
          />
        </a>
      }
      @if (isOwner()) {
        <a
          routerLink="/post/new"
          class="flex justify-center items-center hover:scale-110 transition-all"
        >
          <lucide-angular [img]="SquarePlus" class="h-16 w-16" color="white" />
        </a>
      }
    </div>
    @if (pictures.value().totalElements > 0) {
      <app-pagination [pageNumber]="pageNumber()" [paginated]="pictures.value()" />
    }
  }
</section>
